
.button{
    font-size: 1.4em;
    background-color: rgb(240, 240, 240);
    border: none;
    border: solid #0777 ;
    outline: none;
}

.button:active{
    background-color: rgb(209, 207, 207);;
}

.button.double{
    grid-column: span 2;
}

.button.ac{
    grid-column: span 3;
}

.button.operation{
    background-color: coral;
    color: white;
}
